<div class="card shadow-sm">
    <img src='{{"assets/imgs/" + book.img + ".jpg"}}' alt="book" class="bd-placeholder-img card-img-top">

    <div class="card-body">
        <p class="card-text">{{book.name}}</p>
        <p class="card-text">{{book.category}}</p>
        <p class="card-text">{{book.quantity}}</p>
        <p class="card-text">{{book.price | currency:'BRL'}}</p>

        <div class="btn-group">
            <button class="btn btn-sm btn-primary">Comprar</button>
            <button class="btn btn-sm btn-outline-primary">Detalhes</button>
        </div>
    </div>

</div>